#mainDiv
{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    background-color: #808080; 
    opacity: 0.5; 
    z-index: 2000; 
    height: 1083px; 
    width: 100%;
}
#iframeElement
{
    width: 100%; 
    height: 100%;
}
#modalDialogParentDiv
{
    position: absolute; 
    width: 650px;
    height: 700px; 
    border: none; 
    background-color: #f2f2f2; 
    z-index: 2001; 
    overflow: auto; 
    text-align: center; 
    top: 149px; 
    left: 400px;
}
#modalDialogHeaderDiv
{
    background-color: red; 
    width: 100%; 
    height: 40px;
}
#modalDialogImageDiv
{
    margin: auto;
    margin-top:10px; 
    margin-bottom:10px; 
    background-color:white;
    border: 0px solid white;
    border-radius:25px; 
    height: 350px; 
    width:400px;
}
#image
{
    height: 100%; 
    width: 100%;
    border-radius:25px;
}
#modalDialogColorDiv
{
    width:630px;
    height:200px; 
    display:flex; 
    margin:10px;
}
#modalDialogDominantColorDiv
{
    height: 100%; 
    width: 200px;
}
#DominantColorTitle
{
    text-align: left; 
    margin-left:5px;
}
#DominantColorContainer
{
    width: 50px;
    height: 80px;
    margin:10px;
}
#modalDialogColorPaletteDiv
{
    height: 100%; 
    width: 430px;
}
#PaletteTitle
{
    text-align: left; 
    margin-left:5px;
}
#PaletteColorsDiv
{
    height: 200px; 
    width: 430px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
}